<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>KindleTRMNL</name>
        <version>1.0.0</version>
        <author>KindleTRMNL</author>
        <description>TRMNL BYOS e-ink dashboard</description>
    </information>
    <menus>
        <menu type="json">menu.json</menu>
    </menus>
</extension>
